.dashboard {
  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'horizontal horizontal'
    'vertical main';


  &__header {
    &--horizontal {
      grid-area: horizontal;
    }

    &--vertical {
      grid-area: vertical;
    }

    &__content {
      grid-area: main;
    }
  }
}