:host {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;

    &__arrow-button {
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        border: none;
        font-size: 30px;
        cursor: pointer;
        padding: 0.5rem;
        border-radius: 50%;

        &:disabled {
            cursor: not-allowed;
            opacity: 0.5;
        }

        &:hover {
            background-color: var(--tgm-sys-color-primary)
        }
    }

    &__page-number {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0.5rem 0.75rem;
        border-radius: 0.25rem;
        font-size: 20px;
        background-color: var(--tgm-sys-color-background);

        &.--active {
            background-color: var(--tgm-sys-color-primary);
            color: white;
            font-weight: bold;
        }

        &:not(.--active):hover {
            background-color: var(--tgm-sys-color-background-secondary);
        }
    }
}