.image-upload-container {
  display: flex;
  flex-direction: column;
  //   align-items: center;

  .upload-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border: 2px dashed #007bff;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    transition: border-color 0.2s;

    &:hover {
      border-color: #0056b3;
    }

    .preview-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
