@use "sass:map";
@use "sass:list";

// Color Palette
$colors: (
  "tgm-sys-color-white": #FFFFFF,
  "tgm-sys-color-black": #000000,
  "tgm-sys-color-primary": #F3DE8A,
  "tgm-sys-color-secondary": #272838,
  "tgm-sys-color-accent": #FF5733,
  "tgm-sys-color-background": #F9F8F8
);
// Font Families
$font-families: (
  "tgm-sys-font-family-primary": "Poppins, sans-serif",
  "tgm-sys-font-family-secondary": "Montserrat, sans-serif"
);
// Font Sizes
$font-sizes: (
  "tgm-sys-font-size-12": 12px,
  "tgm-sys-font-size-16": 16px,
  "tgm-sys-font-size-20": 20px,
  "tgm-sys-font-size-24": 24px,
  "tgm-sys-font-size-32": 32px,
  "tgm-sys-font-size-40": 40px,
  "tgm-sys-font-size-48": 48px
);
// Font Weights
$font-weights: (
  "tgm-sys-font-weight-300": 300,
  "tgm-sys-font-weight-400": 400,
  "tgm-sys-font-weight-500": 500,
  "tgm-sys-font-weight-600": 600,
  "tgm-sys-font-weight-700": 700,
  "tgm-sys-font-weight-800": 800,
  "tgm-sys-font-weight-900": 900
);
// Spacing
$spacing: (
  "tgm-sys-spacing-8": 8px,
  "tgm-sys-spacing-16": 16px,
  "tgm-sys-spacing-24": 24px,
  "tgm-sys-spacing-32": 32px
);
// Border Radius
$border-radius: (
  "tgm-sys-border-radius-small": 4px,
  "tgm-sys-border-radius-medium": 8px,
  "tgm-sys-border-radius-large": 16px,
  "tgm-sys-border-radius-xlarge": 32px
);
// Fixed Heights
$fixed-heights: (
  "tgm-sys-height-30": 30px,
  "tgm-sys-height-60": 60px,
  "tgm-sys-height-80": 80px,
  "tgm-sys-height-100": 100px,
  "tgm-sys-height-viewport": 100vh
);
// Fixed widths
$fixed-widths: (
  "tgm-sys-width-30": 30px,
  "tgm-sys-width-60": 60px,
  "tgm-sys-width-100": 100px,
  "tgm-sys-width-150": 150px,
  "tgm-sys-width-200": 200px,
  "tgm-sys-width-250": 250px,
  "tgm-sys-width-300": 300px,
  "tgm-sys-width-400": 400px,
  "tgm-sys-width-500": 500px,
  "tgm-sys-width-800": 800px
);
// Percentages
$percentages: (
  "tgm-sys-percentage-10": 10%,
  "tgm-sys-percentage-20": 20%,
  "tgm-sys-percentage-25": 25%,
  "tgm-sys-percentage-30": 30%,
  "tgm-sys-percentage-50": 50%,
  "tgm-sys-percentage-75": 75%,
  "tgm-sys-percentage-85": 85%,
  "tgm-sys-percentage-90": 90%,
  "tgm-sys-percentage-100": 100%
);
// Gaps
$gaps: (
  "tgm-sys-gap-10": 10px,
  "tgm-sys-gap-20": 20px,
  "tgm-sys-gap-30": 30px,
  "tgm-sys-gap-40": 40px,
  "tgm-sys-gap-50": 50px,
  "tgm-sys-gap-100": 100px,
  "tgm-sys-gap-115": 115px,
  "tgm-sys-gap-125": 125px
);
// paddings
$paddings: (
  "tgm-sys-padding-14": 14px,
  "tgm-sys-padding-20": 20px,
  "tgm-sys-padding-30": 30px,
  "tgm-sys-padding-40": 40px,
  "tgm-sys-padding-50": 50px
);
// Margins
$margins: (
  "tgm-sys-margin-10": 10px,
  "tgm-sys-margin-20": 20px,
  "tgm-sys-margin-30": 30px,
  "tgm-sys-margin-40": 40px,
  "tgm-sys-margin-50": 50px,
  "tgm-sys-margin-60": 60px
);
