<div class="header" [class.header--collapsed]="isCollapsed">
  <div class="header__menu-container">
    <img class="header__app-icon" alt="App Icon" src="/assets/logo-brigth_snow.svg" />
    <div class="header__menu-icon" alt="menu-icon" (click)="toggleHeader()">
      <i class='bx  bx-menu'></i>
    </div>
  </div>
  <div class="header__container">
    <img class="header__user-logo" alt="user iamge" src="/assets/user-icon.png" alt="user icon">
    <div class="header__user-info">
      <h1 class="header__user-name">User</h1>
      <p class="header__user-logout">Log Out</p>
    </div>
  </div>
  <nav class="header__nav-links-container">
    <div class="header__nav-link">
      <div class="header__nav-link-wrapper" (click)="toggleMenu()">
        <p class="header__nav-link-name">Tables</p>
        <i class="bx" [ngClass]="isOpen ? 'bxs-caret-down' : 'bxs-caret-left'"></i>
      </div>
      <ul class="header__submenu-list" [ngClass]="{'header__submenu-list--open': isOpen}">
        <li class="header__submenu-item">
          <a routerLink="/products">Products</a>
        </li>
        <li class="header__submenu-item">
          <a routerLink="/categories">Categories</a>
        </li>
      </ul>
    </div>
  </nav>
</div>