:host {
  // Header Variables
  --header-height: var(--tgm-sys-percentage-100);
  --header-width: var(--tgm-sys-width-250);
  --header-bg-color: var(--tgm-sys-color-secondary);
  --header-font-family: var(--tgm-sys-font-family-primary);
  --header-color: var(--tgm-sys-color-background);
  --header-gap: var(--tgm-sys-gap-60);

  // Header Horizontal Variables
  --header-horizontal-height: var(--tgm-sys-height-100);
  --header-horizontal-width: var(--tgm-sys-percentage-100);

  // Header Vertical Variables
  --header-vertical-height: var(--tgm-sys-height-80);
  --header-vertical-width: var(--tgm-sys-width-250);
  --header-vertical-bg-color: var(--tgm-sys-color-secondary-dark);

  // Header App Icon Variables
  --header-app-icon-width: var(--tgm-sys-width-100);

  // Header collapsed Variables
  --header-collapsed-width: var(--tgm-sys-width-100);

  // Header Logo Variables
  --header-logo-width: var(--tgm-sys-width-100);
  --header-logo-margin-left: var(--tgm-sys-margin-60);

  // Header Links Variables
  --header-links-gap: var(--tgm-sys-gap-20);

  // Header Link Variables
  --header-link-font-size: var(--tgm-sys-font-size-32);
  --header-font-weight: var(--tgm-sys-font-weight-600);
  --header-link-hover-color: var(--tgm-sys-color-primary);

  // Header Link Hover After Variables
  --header-link-hover-underline-height: 3px;
  --header-link-hover-underline-width: var(--tgm-sys-percentage-75);

  --header-user-icon-size: var(--tgm-sys-width-40);
  --header-user-icon-border-radius: var(--tgm-sys-border-radius-large);
  --header-user-icon-margin-right: var(--tgm-sys-margin-20);
}

.header {
  height: 100%;
  gap: 0;
  font-family: var(--header-font-family);

  &--horizontal {
    grid-area: horizontal;
    height: var(--header-horizontal-height);
    width: var(--header-horizontal-width);
    background-color: var(--header-bg-color);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__app-icon {
    width: var(--header-app-icon-width);

    & > img:hover {
      cursor: pointer;
    }
  }

  &__app-user-icon {
    width: var(--header-user-icon-size);
    height: var(--header-user-icon-size);
    border-radius: var(--header-user-icon-border-radius);
    cursor: pointer;
    object-fit: cover;
    margin-right: var(--header-user-icon-margin-right);
    align-content: center;
  }

  &--vertical {
    height: 100%;
    grid-area: vertical;
    width: 250px;
    background-color: var(--header-vertical-bg-color);
    display: flex;
    flex-direction: column;
    color: var(--header-color);
    align-items: center;
    justify-content: flex-start;
    transition: all 0.3s ease-out;
    font-family: var(--header-font-family);
    gap: var(--header-gap);
  }

  &--collapsed {
    width: var(--header-collapsed-width);

    .header__container {
      justify-content: center;
    }

    .header__container,
    .header__nav-links-container,
    .header__app-icon {
      display: none;
    }

    .header__menu-icon {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__menu-container {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: end;
    padding: 15px 15px 0 15px;
  }

  &__menu-icon {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    height: 100%;
    width: fit-content;
    font-size: 35px;
    color: #f9f8f8;
    cursor: pointer;
    margin-left: auto;

    &:hover {
      color: var(--tgm-sys-color-primary);
    }
  }

  &__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--tgm-sys-gap-20);
    padding: 0 15px 0 15px;
  }

  &__nav-links-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--header-links-gap);
    align-items: flex-start;

    & > * {
      width: 100%;
    }
  }
}
