@switch(headerType) {
@case('horizontal') {
<div class="header header--horizontal">
  <div class="header__app-icon" alt="app-icon" routerLink="/dashboard">
    <img src="assets/logo-brigth_snow.svg" alt="Logo" class="header__app-icon--image" />
  </div>
  <div class="header__app-user-icon" (click)="openUserMenu()" alt="user-icon">
    <img [src]="user.profilePicture" alt="User Icon" class="header__app-user-icon--image" />
    @if(menuOpen) {
    <tgm-user-menu [menuOpen]="menuOpen" (editUser)="openEditUser()"></tgm-user-menu>
    }
  </div>
</div>
}
@case('vertical') {
<div class="header header--vertical" [class.header--collapsed]="isCollapsed">
  <div class="header__menu-container">
    <div class="header__menu-icon" alt="menu-icon" (click)="toggleHeader()">
      <i class='bx bx-menu'></i>
    </div>
  </div>
  <nav class="header__nav-links-container">
    <tgm-header-link title="Dashboard" [items]="[
        { name: 'Categories', link: '/dashboard/categories' },
        { name: 'Products', link: '/dashboard/products' },
        { name: 'Users', link: '/dashboard/users' },
        { name: 'Orders', link: '/dashboard/orders' }
      ]" [headerToggled]="!isCollapsed"></tgm-header-link>
  </nav>
</div>
}
}