<div class="dashboard-detail--container">
    <dashboard-detail-card title="Categories" [count]="categoryCount" icon="bxr  bx-menu-notification"
        routerLink="/dashboard/categories"></dashboard-detail-card>
    <dashboard-detail-card title="Products" [count]="productCount" icon="bxr  bx-groceries"
        routerLink="/dashboard/products"></dashboard-detail-card>
    <dashboard-detail-card title="Users" [count]="userCount" icon="bxr  bx-user"
        routerLink="/dashboard/users"></dashboard-detail-card>
</div>